.index .container {
    display: flex;
    justify-content: space-between;
}

.menu-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-wrap {
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}

.logo-box img {
    width: 480px;
    object-fit: contain; 
}

.logo-box {
    width: 500px;
    height: 100%;
}

.date-box {
    margin-top: 30px;
}

.date-box img {
    width: 250px;
}
  
.button-wrap {
    width: 40%;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 40px;
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
}

.btn {
    width: 380px;
    height: auto;
    max-width: 460px;
    font-size: 28px;
    font-weight: 800;
    padding: 10px 30px;
    background: none;
    border: 0;
    outline: 0;
    border-bottom: 5px solid;
    color: #d9d9d9;
    border-bottom-color: #d9d9d9;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    border-bottom-color: #FFF;
    color: #fff; 
  }
